$borders: (
  headerBorder: 10px solid rgb(143, 233, 104),
  borderRadius: 05px,
);

$links: (
  linksFooterColor: rgb(152, 222, 31),
  linksHeaderColor: rgb(31, 117, 222),
  linksHeaderColorHover: rgb(155, 31, 222)
);

$displays: (
  headerJustify: space-evenly,
  footerJustify: center
);